.checkout-product {
  display: flex;
  margin: 20px 0;
}

.product-info {
  padding-left: 20px;
}

#remove-from-basket-btn {
  border: none;
  margin-top: 10px;
  padding: 4px 7px;
}

.checkout-product-img {
  object-fit: contain;
  min-width: 180px;
  height: 180px;
}

.product-rating {
  display: flex;
  margin: 5px 0;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
}
