.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 100px;
  background-color: #272b2b;
  margin-top: 10px;
}

.footer-block > h4 {
  color: #fff;
}

.footer-block {
  color: #ddd;
  padding: 10px 0;
  min-width: 170px;
}

.footer-block > p:hover {
  text-decoration: underline;
  cursor: pointer;
}
